<nav class="navbar">
    <div id="navlinks">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifing the URL path for the link            -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   
        <a href="/home">Home</a>
        &nbsp; &nbsp; 
        <a href="/clientinfo">Become a New Client</a>
        &nbsp; &nbsp; 
        <a href="/meetingform">Schedule Meeting</a>
    </div>
</nav>