<form  id="theForm" (ngSubmit)="onSubmit()">
    <p>Contact Information:</p>
     <div>
        <label for="fnamefield">First Name:</label>
        <input type="text" id="fnamefield" [(ngModel)]="fname" name="fname"/>
    </div>
    <div>
        <br>
        <label for="lnamefield">Last Name:</label>
        <input type="text" id="lnamefield" [(ngModel)]="lname" name="name"/>
    </div>
    <div>
        <br>
        <label for="email-address">Email Address:</label>
        <input type="text" id="email-address" [(ngModel)]="email" name="email"/>
        <br>
        <br>
        May we contact you regarding any future promotions?
            <input type="radio" id="emailyesfield"  [(ngModel)]="email_preference" value="yes" name="email_preference"/>
            <label for="emailyesfield">Yes</label>
            <input type="radio" id="emailnofield"   [(ngModel)]="email_preference" value="no" name="email_preference"/>
            <label for="emailnofield">No</label>
    </div>

    <div>
        <br>  

        <input type="submit" value="Click to Submit"/> 
        
    </div>
    </form>